.vscode/
.databricks/
.pytest_cache/
__pycache__/
dist/
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
terraform.exe
terraform-provider-databricks*.exe
*.whl
*.tar.gz
*.egg-info/
.coverage
htmlcov/
.venv/
.mypy_cache/
.ruff_cache/
*.pyc
